#!/bin/bash

alias c="clear"
alias f="open ."

alias l="ls"
alias la="ls -a" # list everything

alias dt="cd ~/Desktop"
alias cdev="cd ~/Development"
alias cgit="cd ~/Development/git"

alias edit="code" # use vscode

# mute the system volume
alias stfu="osascript -e 'set volume output muted true'"

alias cpwd="pwdpbcopy" # copy + paste directories

alias cdv="cdpbpaste" # cd to dir in clipboard

alias undopush="git push -f origin HEAD^:master"

alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"

alias \$='' # undollar
