#!/bin/bash

alias c="clear"
alias f="open ."

alias l="ls"
alias la="ls -a" # list everything

alias dt="cd ~/Desktop"
alias cdev="cd ~/Development"
alias cgit="cd ~/Development/git"

alias rm="trash" # npm install --global trash-cli

alias edit="code" # use vscode

# mute the system volume
alias stfu="osascript -e 'set volume output muted true'"

# copy + paste directories
alias cpwd="pwd | tr -d '\n' | pbcopy"

function cdpbpaste() {
  local CLIPBOARD = $(pbpaste)

  if [[ -d $CLIPBOARD ]]; then
    cd $CLIPBOARD
  else
    echo "item in clipboard is not a directory"
    exit 1
  fi
}

alias cdv="cdpbpaste" # cd to dir in clipboard

alias undopush="git push -f origin HEAD^:master"

alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"
