#!/bin/bash

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8"

export NVM_DIR="$HOME/.nvm"

export PROMPT='$(_python_venv)%{$fg[cyan]%}%c $(git_prompt_info)%{$reset_color%}%{$fg[magenta]%}$(_git_time_since_commit)$(git_prompt_status)${_return_status}$ '
