#!/bin/bash

function pwdpbcopy() {
  # copy current working directory, trimming any newlines
  pwd | tr -d '\n' | pbcopy
}

function cdpbpaste() {
  # clipboard contents
  local CLIPBOARD=$(pbpaste)

  # check clipboard contents is a valid directory path
  if [[ -d $CLIPBOARD ]]; then
    cd $CLIPBOARD
  else
    echo "item in clipboard is not a directory"
    return 1
  fi
}

function uuid() {
  # convert to lowercase, remove newline
  echo $(/usr/bin/uuidgen) | tr "[:upper:]" "[:lower:]" | tr -d '\n'
}

function isodate() {
  echo $(date -u +"%Y-%m-%dT%H:%M:%SZ")
}
